@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,600,700,800");
/* Testing classes*/
.black {
  background-color: #333;
  height: 400px;
  width: 100%; }

.brown {
  background-color: #5F2B07; }

/* Variable and mixin declaration */
.hrLine, .third-section .rewardsText .green-line, .fourth-section .reviewerName .blackLine, .fourth-section .articles .orange-line {
  width: 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-left: 0.85em;
  margin-bottom: 5px; }

/* By default settings*/
.mainBody {
  background-color: white;
  font-size: 0.85em; }

h1, h2, h3, h4 {
  font-family: "Merriweather", serif !important;
  color: #434da0; }

p, a {
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 1000px; }

.basicButton .btn-primary {
  background: linear-gradient(to right, #434da0 40%, #8389b8 80%, #ffffff 113%);
  border: none;
  padding: 1rem 1.25rem;
  font-size: 0.85em;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 500; }

.smallTitle, .third-section .rewardsText .small-title, .fourth-section .articles .small-title {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Open Sans", sans-serif; }

/* Top navigation*/
.top-navigation {
  background-color: #36384b; }
  .top-navigation p, .top-navigation div, .top-navigation i, .top-navigation a {
    color: white; }
  .top-navigation .green-text {
    color: #64eeb0; }
  .top-navigation .cartNumber {
    background-color: pink;
    border-radius: 11px;
    font-size: 12px;
    padding: 4px;
    margin: 0; }
  .top-navigation .top-links a {
    color: white;
    -webkit-transition: backrground 0.5s ease-in-out;
    -moz-transition: backrground 0.5s ease-in-out;
    -ms-transition: backrground 0.5s ease-in-out;
    -o-transition: backrground 0.5s ease-in-out;
    transition: backrground 0.5s ease-in-out; }
    .top-navigation .top-links a i {
      color: #a2acff; }
    .top-navigation .top-links a:hover {
      background-color: #a2acff;
      color: #36384b; }
      .top-navigation .top-links a:hover i {
        color: #36384b; }

.navigation {
  background-color: #434da0; }
  .navigation .headerLogo {
    height: 45px; }
  .navigation a {
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .navigation a:hover {
      border: solid #64eeb0 2px;
      color: #64eeb0;
      border-radius: 20px; }
  .navigation p {
    margin-left: 5px;
    color: white; }
  .navigation .logoName {
    font-size: 1rem; }
  .navigation .navLinks {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .navigation .hamburger-menu {
    display: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }

/* First hero*/
.first-hero {
  background-image: url("../images/shapes/hero-wave-bottom.svg"), url("../images/smarter-living/interior-house-header.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-size: contain, cover;
  width: 100%; }
  .first-hero .heroText {
    margin-top: 10%; }
    .first-hero .heroText h1 {
      font-size: 3rem;
      color: #434da0; }
    .first-hero .heroText .blueText {
      font-weight: 700;
      color: #434da0; }
  .first-hero .girlPicture {
    background: url("../images/smarter-living/girl-blob-cutout-header.png") no-repeat center;
    background-size: contain;
    margin-top: 5%;
    /*max-width:100%;*/ }
  .first-hero .benefits {
    background-color: white;
    width: 1000px;
    height: auto;
    /*padding:2.5em 6em;*/
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .first-hero .benefits h2 {
      color: #434da0; }
    .first-hero .benefits ul li {
      list-style: none; }
    .first-hero .benefits .benefit-title {
      color: #434da0;
      font-weight: 700; }

.wave-first {
  background: url("../images/shapes/hero-wave-bottom.svg") no-repeat center;
  height: 300px;
  background-size: cover;
  position: relative;
  margin-bottom: -30px; }

/*Second hero section*/
.second-section {
  background: url("../images/shapes/blob-cutoff.svg") no-repeat left;
  background-size: contain;
  min-height: 600px;
  max-width: 100%;
  margin-top: 10%; }
  .second-section .leftImage {
    background: url("../images/shared/dining-room-set.png") no-repeat left;
    height: 300px;
    background-size: cover; }
  .second-section .blueBackground {
    background-color: #434da0;
    height: 100%;
    min-height: 300px;
    padding: 1em;
    color: white;
    margin-top: 5%;
    min-height: 300px; }
  .second-section .transparentButton .btn {
    background-color: transparent;
    border: solid #a2acff 2px;
    border-radius: 2em;
    color: #a2acff;
    font-size: 0.9em;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    .second-section .transparentButton .btn:hover {
      border: solid #64eeb0 2px;
      color: #64eeb0; }
  .second-section .whiteBox {
    position: relative;
    background-color: white;
    height: 100%;
    min-height: 300px;
    padding: 1em;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .second-section .pinkZigzag img {
    width: auto;
    height: 50px; }

/*Third section*/
.third-section {
  margin-top: 15%; }
  .third-section .rewardsText .small-title {
    font-size: 1rem;
    /*margin-top:5px;*/ }
  .third-section .rewardsText .green-line {
    border-top: solid 3px #64eeb0; }
  .third-section .rewardsText h2 {
    color: #434da0;
    font-family: "Merriweather", serif;
    width: auto; }
  .third-section .rewardsText .slashGrey {
    width: 40%;
    opacity: 0.4;
    margin-top: 3em; }
  .third-section .rewardsBackground {
    background: url("../images/shapes/round-blob-solid.svg") no-repeat left;
    background-size: contain;
    max-width: 100%; }
    .third-section .rewardsBackground .ladyRewards {
      /*margin-top:10%;*/
      margin-left: 4%;
      width: 90%; }

/*Fourth section*/
.greyBack {
  background: url("../images/shapes/wave-lastSection.svg") no-repeat center;
  background-size: cover;
  height: 300px; }

.fourth-section {
  background-color: #f7f7f7;
  height: auto;
  margin-top: -10px; }
  .fourth-section h4 {
    color: #434da0; }
  .fourth-section .quoteSymbol {
    width: 15%;
    text-align: center; }
  .fourth-section ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .fourth-section ul li {
      display: inline-block; }
  .fourth-section .reviewerName .leftArrow {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 30%; }
  .fourth-section .reviewerName .rightArrow {
    width: 30%; }
  .fourth-section .reviewerName .blackLine {
    border-top: solid 3px #000;
    width: 20px;
    margin-bottom: 3px; }
  .fourth-section .reviewerName .name {
    font-weight: 650;
    font-family: "Open Sans", sans-serif;
    font-size: 1em; }
  .fourth-section .articles .small-title {
    font-size: 1em; }
  .fourth-section .articles .orange-line {
    border-top: solid 3px #ffbaa6;
    width: 40px; }
  .fourth-section .articles h2 {
    color: #434da0; }
  .fourth-section .articles .thumbnail-image {
    width: 50%;
    padding: 5px; }
  .fourth-section .articles .card-body {
    padding: 0; }
    .fourth-section .articles .card-body h5 {
      font-family: "Merriweather", serif;
      color: #434da0; }
  .fourth-section .about-us h4 {
    color: #434da0; }
  .fourth-section .about-us .aboutUs-icons img {
    width: 50%; }
  .fourth-section .about-us .aboutUs-icons p {
    width: auto;
    font-size: 0.85rem; }

/*footer*/
.footer-section {
  background: url("../images/footer.jpeg") center;
  background-size: cover;
  height: 400px; }
  .footer-section .blueBack {
    background-color: #434da0;
    height: auto; }
  .footer-section .logo-social-section .headerLogo {
    width: 15%;
    text-align: center; }
  .footer-section .logo-social-section p {
    color: white; }
  .footer-section .logo-social-section ul {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0; }
    .footer-section .logo-social-section ul li {
      display: inline-block; }
  .footer-section .transparentButton .btn {
    background-color: transparent;
    border: solid #a2acff 2px;
    border-radius: 2em;
    color: #a2acff;
    font-size: 0.9em;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    .footer-section .transparentButton .btn:hover {
      border: solid #64eeb0 2px;
      color: #64eeb0; }
  .footer-section .all-links a {
    color: white; }
  .footer-section .all-links ul {
    list-style: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding-left: 5px; }
  .footer-section .darkBlue-background {
    background-color: #36384b;
    height: auto;
    padding: 10px; }
    .footer-section .darkBlue-background .copyright-section {
      color: white;
      margin: 0;
      padding: 0; }
      .footer-section .darkBlue-background .copyright-section p {
        display: inline;
        margin-left: 1em; }
      .footer-section .darkBlue-background .copyright-section span {
        font-size: 3.5em;
        text-align: center; }

/* Media queries*/
@media screen and (min-width: 320px) and (max-width: 576px) {
  .articles {
    margin-top: 10%; }

  .footer-section {
    margin-top: 5em; }

  .hamburger-menu {
    display: block; } }
@media screen and (min-width: 576px) {
  .pinkZigzag img {
    margin-left: -75px; }

  .reviews-section {
    margin-top: 11em; }

  .about-us {
    margin-top: 15em; } }
/*@media screen and(min-width: 320px) and (max-width:768px){*/
@media screen and (max-width: 768px) {
  .girlPicture {
    height: 225px; }

  .benefit-title {
    overflow-wrap: break-all; }

  .leftImage {
    margin: 0; }

  .all-links {
    margin-top: 3em; } }
@media screen and (min-width: 768px) {
  .first-hero .benefits img {
    width: 50%; }

  .girlPicture {
    height: 560px;
    margin-top: 1em; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .first-hero .girlPicture {
    height: 300px;
    margin-top: 50%; }

  .leftImage {
    margin-top: 5%; } }
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .first-hero .girlPicture {
    margin-top: 25%;
    height: 400px; }

  .leftImage {
    margin-top: 5%; } }
@media screen and (min-width: 1200px) {
  .leftImage {
    margin-top: 5%; } }

/*# sourceMappingURL=main.css.map */
